*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    background-color:white ;
    color: #1e130f;
}

.title-bar {
    background-color: #1e130f; 
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px;
}


.comp-name {
    font-size: 34px;
    font-weight: bold;
    color: white;
    margin: 0;
    background: none;
}
img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #1e130f;
}
nav{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    align-items: center;
    gap: 2rem;
}
.nav-logo{
    max-width: 300px;
    border-radius: 25%;
    display: flex;
    position: relative;
    left: 100px;
}
.nav-links{
    display: flex;
    list-style:none;
    gap: 3rem;
}
.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #1e130f;
}
.link a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(226, 230, 4);
    transition: all 0.3s ease;
}
link a:hover::after{
    width: 70%;
}
.btn{
    padding: 0.5rem 1rem;
    background-color: rgb(226, 230, 4);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(131, 160, 27);
    transition: all 0.3s ease;
}